@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: "bloodlust-regular";
    src:url("/fonts/BloodLust.ttf") ;
  }

h1 , h2 , button {
font-family: "bloodlust-regular", sans-serif;
}
